/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-header {
    height: 650px;
  }
  .main-nav__container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .header-text-box {
    width: 100%;
  }

  .header-title {
    font-size: 290%;
  }

  .header-text-box div:last-child {
    margin-top: 2.5rem;
  }

  .header-text {
    font-size: 110%;
    font-weight: bold;
    margin: 1rem 0;
  }

  .our-chef__box {
    flex-direction: column;
  }

  .chef-box {
    width: 100%;
    margin: 3rem 0 0 0;
  }

  .section-description {
    width: 100%;
  }

  .best-burger__info {
    width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .big-burger__info {
    width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .big-burger__image-box {
    order: -1;
  }

  .statistics-section-container {
    flex-direction: column;
    align-items: center;
  }

  .popular-package-container {
    flex-direction: column;
  }

  .popular-package-box {
    width: 100%;
    margin: 1rem 0.5rem;
  }

  #popular-package .section-title {
    font-size: 240%;
  }

  .overview-box {
    padding: 1rem;
    margin: 4rem auto 0 auto;
    width: 100%;
  }

  #subscribe-section .section-title {
    font-size: 180%;
    padding: 5rem 0 0 0;
  }

  #subscribe-section p {
    width: 100%;
    font-size: 150%;
  }

  .subscribe-container {
    margin: 2rem auto 0 auto;
  }

  .subscribe-box {
    width: 100%;
    padding-bottom: 5rem;
  }

  .subscribe-btn {
    width: 35%;
  }

  .main-footer__container {
    padding: 4rem 0;
  }

  .main-footer__link-box {
    width: 35%;
    margin: 2rem 0;
  }

  .social-box {
    width: 60%;
  }

  .main-footer__social-link {
    margin-right: 0.1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-header {
    height: 650px;
  }
  .main-nav__container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .header-text-box {
    width: 100%;
  }

  .header-text {
    margin: 1rem 0;
  }

  .header-title {
    font-size: 300%;
  }

  .header-text-box div:last-child {
    margin-top: 1.5rem;
  }

  .header-text-box {
    margin-top: 5rem;
  }

  .our-chef__box {
    flex-direction: column;
  }

  .chef-box {
    width: 100%;
    margin: 3rem auto;
  }

  .section-description {
    width: 100%;
  }

  .chef-box__image {
    width: 50%;
  }

  .best-burger__info {
    width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .big-burger__info {
    width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .big-burger__image-box {
    order: -1;
  }

  .statistics-section-container {
    flex-direction: column;
    align-items: center;
  }

  .popular-package-container {
    flex-direction: column;
  }

  .popular-package-box {
    width: 100%;
    margin: 1rem 0.5rem;
  }

  .overview-box {
    padding: 1rem;
    margin: 4rem auto 0 auto;
    width: 100%;
  }

  #subscribe-section .section-title {
    font-size: 250%;
    padding: 5rem 0 0 0;
  }

  #subscribe-section p {
    width: 100%;
    font-size: 170%;
  }

  .subscribe-container {
    margin: 2rem auto 0 auto;
  }

  .subscribe-box {
    width: 100%;
    padding-bottom: 5rem;
  }

  .subscribe-btn {
    width: 35%;
  }

  .main-footer__link-box {
    width: 40%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-text-box {
    width: 50%;
    color: #ffffff;
    margin-top: 3rem;
  }

  .main-nav__container {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .main-nav__container li:last-child {
    margin-right: 1rem;
  }

  .main-nav__container li {
    margin-right: 2rem;
  }

  .our-chef__box {
    flex-direction: row;
  }

  .chef-box__image {
    width: 60%;
  }

  .section-description {
    width: 40%;
  }

  .best-burger-container {
    flex-wrap: nowrap;
    align-items: center;
  }

  .best-burger__info {
    width: 70%;
    margin: 0 0 0 10rem;
    text-align: left;
  }

  .big-burger-container {
    flex-wrap: nowrap;
    align-items: center;
  }

  .big-burger__info {
    width: 70%;
    margin: 0 0 0 5rem;
    text-align: left;
  }

  .big-burger__image-box {
    order: 0;
  }

  .statistics-section-container {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .popular-package-container {
    flex-direction: row;
  }

  .popular-package-box {
    width: 30%;
    margin: 1rem 0.5rem;
  }

  .popular-package-btn:link,
  .popular-package-btn:visited {
    padding: 0.5rem 2.5rem;
  }

  .overview-box {
    width: 85%;
    padding: 5rem;
  }

  .subscribe-box {
    padding-bottom: 10rem;
  }

  #subscribe-section .section-title {
    padding: 12rem 0 0 0;
    font-size: 350%;
  }

  #subscribe-section p {
    width: 80%;
  }

  .subscribe-btn {
    width: 22%;
  }

  .subscribe-textbox {
    width: 65%;
  }

  .main-footer__link-box {
    width: 17%;
  }

  .social-box {
    width: 30%;
  }

  .main-footer__social-link {
    margin-right: 0.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-text-box {
    width: 50%;
    color: #ffffff;
    margin-top: 3rem;
  }

  .chef-box__image {
    width: 60%;
  }

  .statistics-section-container {
    width: 90%;
  }

  .popular-package-container {
    flex-direction: row;
  }

  .popular-package-box {
    width: 30%;
  }

  .overview-box {
    width: 85%;
    padding: 5rem;
  }

  #subscribe-section p {
    width: 50%;
  }

  .subscribe-box {
    width: 80%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-header__title {
    width: 35%;
  }

  .header-title {
    font-size: 400%;
  }

  .header-text {
    font-size: 145%;
    margin: 2rem 0;
  }

  .header-text-box-contaciner {
    justify-content: flex-end;
  }

  .header-text-box {
    width: 50%;
    color: #ffffff;
    margin-top: 3rem;
  }

  .chef-box {
    width: 25%;
  }

  .chef-box__image {
    width: 60%;
  }

  .chef-box {
    margin: 3rem auto 8rem auto;
  }

  .statistics-section-container {
    width: 90%;
  }

  .overview-box {
    width: 85%;
    padding: 15rem;
  }

  .subscribe-box {
    width: 80%;
  }
}
